<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" dir="rtl">
<head>  <!--/*/ <th:block th:insert="~{fragments/head :: head}"></th:block> /*/--></head>
<body >
<div class="tap-top"><i data-feather="chevrons-up"></i></div>
<div class="page-wrapper compact-wrapper" id="pageWrapper">
    <!-- error-404 start-->
    <div class="error-wrapper">
        <div class="container"><img class="img-100" src="/assets/images/other-images/sad.png" alt="">
            <div class="error-heading">
                <h2 class="headline font-secondary">503</h2>
            </div>
            <div class="col-md-8 offset-md-2">
                <p class="sub-content">Oops, an error has occurred. <br> The service you requested is not available at this time. Please try again later.</p>
            </div>
            <div><a class="btn btn-secondary-gradien btn-lg" href="javascript:history.back()">BACK</a></div>
        </div>
    </div>
    <!-- error-503 end      -->
</div>

</body>
</html>
